{% extends "newadmin.html" %}
{% block body %}
<body>
<form action="/guest_view_package_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table width="200" border="1" class="table table-striped">
  <tr>
    <td height="97">Destination_Name</td>
    <td>
      <input type="text" name="textfield" id="textfield">
    </td>
    <td>
      <input type="submit" name="button" id="button" value="GO">
   </td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <td>#</td>
    <td>Destination</td>
    <td>Image</td>

    <td>Price</td>
    <td>Description</td>
    <!--<td>&nbsp;</td>-->
  </tr>
  {% for i in data%}
  <tr>
    <td>{{loop.index }}</td>
    <td>{{i["Destination"]}}</td>
    <td><img src="{{i['image']}}" height="100 px" width="100"></td>
    <td>{{i["Price"]}}</td>
    <td>{{i["Description"]}}</td>

    <!--<td><p><a href="/customer_book_package/{{ i['Package_id'] }}">Booking</a></p>-->
    <!--<p><a href="/admin_delete_package/{{ i['Package_id'] }}">delete</a></p></td>-->
  </tr>
  {% endfor %}



</table>
</form>

<a href="/customer_add_registeration" class="nav-item nav-link"><span>REGISTER NOW  !!!</span></a>




</body>
{% endblock %}
