<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/customer_add_registeration_post">
  <table class="table table-striped">
    <tr>
      <td>Username</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>

        <label>
          <input type="radio" name="Radio" value="radio" id="RadioGroup1_0" />
          female</label>
        <br />
        <label>
<input type="radio" name="Radio" value="radio" id="RadioGroup1_1" />
male</label>
        <br />
        <br />
      </p></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
     <tr>
      <td>Email</td>
      <td><input type="text" name="textfield6" id="textfield6" /></td>
    </tr>
     <tr>
     <td>Phone_number</td>
      <td><input type="text" name="textfield7" id="textfield7" /></td>
      </tr>
      <tr>
      <td>Password</td>
      <td><input type="text" name="textfield8" id="textfield8" /></td>
      </tr>
      <tr>
      <td>Confirm Password</td>
      <td><input type="text" name="textfield9" id="textfield9" /></td>

    </tr>
      <tr>
        <td colspan="2"><input type="submit" name="button" id="button" value="Submit" /></td>
      </tr>
  </table>
</form>
</body>
</html>
