<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table width="200" border="1"class="table table-striped">

     <tr>
    <td><a href="/customer_edit_profile">Edit profile</a></td>
  </tr>
    <tr>
      <td><a href="/customer_view_destination">View destination</a></td>
    </tr>
<tr>
      <td><a href="customer_send_complaint">Send_complaint</a></td>
    </tr>
     <td><a href="customer_view_complaints">View_complaint</a></td>
    </tr>

     <tr>
      <td><a href="/customer_view_booked_package">View booked packages</a></td>
    </tr>
        <tr>
      <td><a href="/customer_send_feedback">Send feedback</a></td>
    </tr>
     <tr>
      <td><a href="/customer_view_feedback">Send feedback</a></td>
    </tr>

  </table>
</body>
</html>




    <!--<tr>-->
      <!--<td><a href="/admin_add_destination">add destination</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_add_packages">Add package</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_view_booking">View booking</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="admin_view_package">View package</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="admin_view_complaints">View complaints</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_view_destination">View destination</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_view_feedback">View feedback</a></td>-->

<!--</body>-->
<!--</html>-->
