
{% extends "myhome2.html" %}
{% block body %}

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<form id="form1" name="form1" method="post" action="customer_view_booked_package_post">
  <table class="table table-striped" id="productstable">
      <thead>
    <tr>
      <th>Slno</th>
      
     <th>Date</th>
     
      <th><p>Destination</p></th>
   
      <th>Image</th>
      <th>Price</th>
     
      <th>Description</th>
      <th>Status</th>

        <th></th>
    </tr>
</thead>
    {% for i in data%}

  <tr>
    <td>{{loop.index }}</td>
    <td>{{i["date"]}}</td>
    <td>{{i["Destination"]}}</td>
   <td><img src="{{i['image']}}"  height="100 px" width="100"></td>
    <td>{{i["Price"]}}</td>
    <td>{{i["Description"]}}</td>
            <td>{{i["Status"]}}</td>

 <td><p><a href="/customer_cancel_booking/{{i['Booking_id']}}" onclick="return confirm('Are you sure to cancel?')">Cancel booking</a></p>
      <p>{% if i['Status']=='approved' %}<a href="/customer_pay_amount/{{i['Booking_id']}}">Proceed to payment</a>{% else %}{% endif %}</p></td>
  </tr>
  {% endfor %}



  </table>
</form>

<script>
    $(document).ready(function(){
    $('#productstable').DataTable();
    });
</script>
</body>
{% endblock %}
