<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "myhome2.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/customer_view_feedback_post">

  <input type="hidden" name="cid" value="{{cid}}">
 <table class="table table-striped">
    <tr>
      <td>slno</td>
      <td>Feedback</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{loop.index}}</td>
    <td>{{i['Feedback']}}</td>
    </tr>
    {% endfor %}
  </table>





<div class="row">
    {% for i in data%}

                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="service-item bg-white text-center mb-2 py-5 px-4"></div>
                </div>


                    {%endfor%}

                    </div>
                </div>
            </div>
        </div>
    </div>











</form>
</body>
{% endblock %}
<!--</html>-->