
{% extends "myhome2.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/customer_view_complaints_post">

  <table class="table table-striped">
    <tr>
    <td>slno</td>

    <td>Date</td>
    <td>Complaint</td>
    <td>&nbsp;Reply</td>
    <!--<td>Status</td>-->
<td></td>
  </tr>
    {% for i in data%}
  <tr>
    <td>{{ loop.index }}</td>

    <td>{{i['Date'] }}</td>
    <td>&nbsp;{{i['Complaint'] }}</td>
    <td>&nbsp;{{i['Reply'] }}</td>
    <!--<td>{{i['Status'] }}</td>-->
   <td> <p><a href="/customer_delete_complaint/{{ i['Complaint_id'] }}">delete</a></p></td>


  </tr>
    {% endfor %}

  <tr>
      </tr>

</table></form>
</body>
<!--</html>-->
{% endblock %}