<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->


{% extends "newadmin.html" %}
{% block body %}
<body>
<form action="/admin_add_destination_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
 <table class="table table-striped">
    <tr>
      <td>Destination</td>

      <td>

        <input type="text" name="jumpMenu"/>


      </td>
    </tr>

    <tr>
      <td>Description</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" class="btn btn-primary py-md-3 px-md-5 mt-2" name="SAVE" id="SAVE" value="SAVE" />
      </div></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->

{% endblock %}