<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--{% extends adminindex.html %}-->
<!--{% block body %}--><!--{% block body %}-->
{% extends "myhome2.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"class="table table-striped">
    <!--<tr>-->
      <!--<td><a href="/admin_add_destination">add destination</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_add_packages">Add package</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_view_booking">View booking</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="admin_view_package">View package</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="admin_view_complaints">View complaints</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_view_destination">View destination</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/admin_view_feedback">View feedback</a></td>-->
    <!--</tr>-->
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
