<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends "newadmin.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/admin_send_reply_post">

  <input type="hidden" name="cid" value="{{cid}}">
  <table class="table table-striped">
    <tr>
      <td>Reply</td>
      <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="Save" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}


