 <!--Document</title>&ndash;&gt;-->
<!--</head>-->
{% extends "newadmin.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/admin_view_booking_post">
    <table class="table table-striped">
    <tr>
      <td>From</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
      <td>To</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
      <td><input type="submit" name="button" id="button" value="GO" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table class="table table-striped">

    <tr>
      <td>Sl.no</td>
      <td>User_details</td>
      <td>Trip_details</td>
      <td>Booking_date</td>
      <td>Amount</td>
      <td>Status</td>
        <td></td>
         <td></td>
   </tr>
      {% for i in val %}
      <td>{{loop.index }}</td>
      <td>{{i["Username"]}}</td>
      <td>{{i["Description"]}}</td>
      <td>{{i["date"]}}</td>
      <td>{{i["Price"]}}</td>
      <td>{{i["Status"]}}</td>
      <td><p><a href="/customer_accept_booking/{{i['Booking_id']}}">Accept</a></p>
     <td> <p><a href="/customer_cancel_booking/{{i['Booking_id']}}" onclick="return confirm('Are you sure to cancel?')">Reject</></p></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>

</form>
</body>

{% endblock %}
<!--</html>-->
