
{% extends "myhome.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>






		<!--<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 10, 2014!</div>-->
			<div class="container_12">
				<div class="grid_5">
					<h3>CONTACT INFO</h3>
					<div class="map">
						<!--<p><span class="blog">uet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh. </span></p>-->
						<!--&lt;!&ndash;<div class="clear"></div>&ndash;&gt;-->
						<!--<figure class="">-->
							<a href="https://goo.gl/maps/XmcXNxDyLwKy64CU7">FIND US ON GOOGLE MAP</a>
						<!--</figure>-->
						<address>
							<dl>
								<dt>CONFIDO TRAVELS <br>
									 Vattoli Road,<br>
Poonoor								</dt>
								<dd><span>PIN:</span>673572</dd>
								<dd><span>FAX:</span>+1 800 889 9898</dd>
								<dd>E-mail: <a href="#" class="col1">confidotravels@gmail.com</a></dd>
							</dl>
						</address>
					</div>
				</div>





















</body>
{% endblock %}
